In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
csv_file = "Resources/greenhouse_gas_inventory.csv"
greenhouse_df = pd.read_csv(csv_file)
greenhouse_df.head()

,country_or_area,year,value,category
0,Australia,2014,393126.9470,carbon_dioxide_co2_emissions_without_land_use_...
1,Australia,2013,396913.9365,carbon_dioxide_co2_emissions_without_land_use_...
2,Australia,2012,406462.8477,carbon_dioxide_co2_emissions_without_land_use_...
3,Australia,2011,403705.5283,carbon_dioxide_co2_emissions_without_land_use_...
4,Australia,2010,406200.9932,carbon_dioxide_co2_emissions_without_land_use_...